/*@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");*/
*{
    margin: 0;
    padding: 0;
}

body{
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.bowser{
  margin-top: 370px;
  margin-left: 300px;
  margin-bottom: 20px;
  width: 180px;
  height: 180px;
}
.castleBtn{
  margin-left: 350px;
  width: 80px;
  height: 90px;
}
.bowser1{
  width: 40px;
  height: 40px;
}
























/*body{
    background-image: url(../assets/background.jpg);
    background-size: cover;
    max-width: 50%;
}
button{
    padding: 0;
    margin: 0;
}

#coderList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  font-size: medium;
  text-align: center;
  font-weight: 200;
  font-family: Montserrat, helvetica;
  perspective: 1000px;
}

#coderList p {
  align-self: flex-end;
  font-size: 30px;
  text-shadow: 1px 1px darkgray;
}

#coderList {
  text-align: center;
  font-size: medium;
  font-weight: 200;
  font-family: Montserrat, helvetica;
}

#coderList article {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100px;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
  background-color: transparent;
}

.alive {
  background-image: url("../assets/mario-unscreen.gif");
  background-size: cover;
}

.dead {
  background-image: url("../assets/caja1.gif");
  background-size: cover;

}*/
